{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}
<div class="row">
    <div class="col-sm-3 col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">Mes amis</div>
                <ul class="list-group">
                    {% for friend in friends %}
                        <li class="list-group-item"><a href="/dashboard/index?sender={{ friend.user.username }}" title="Voir les détails de {{ friend.user.username }}">{{ friend.user.username }}</a> <a href="{% url 'dashboard:remove' friend_pk=friend.pk %}" title="Supprimer {{ friend.user.username }} de mes amis"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="float: right;"></span></a></li>
                    {% endfor %}
                </ul>

                  <div class="panel-body">
                      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#id_add_friend_modal">Ajouter un ami</button>
                  </div>

        </div>
    </div>

    <div class="col-sm-9 col-md-10">
        <div class="row">
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Nouveau message" data-toggle="modal" data-target="#id_new_message_modal">Nouveau message</button></div>
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Demandes en attente" data-toggle="modal" data-target="#id_waiting_friends_modal">Demandes en attente <span class="badge">{{ friend_requests|length }}</span></button></div>
        </div>

        {% if sender %}
          <div class="col-sm-6 col-md-8">
            <ol class="breadcrumb">
              <li><a href="/dashboard/index">Tous les messages</a></li>
              <li>Messages de {{sender}}</li>
            </ol>
          </div>
        {% endif %}
        <div class="row" id="id_messages_list_row">
            <div class="col-sm-12">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Pseudo</th>
                      <th>Date</th>
                      <th>Etat</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for message in messages_list %}
                      {% if message.is_read%}
                        <tr class="danger">
                      {% else %}
                        <tr class="success" onclick="showMessage({{message.id}})" id="message-{{message.id}}">
                      {% endif %}
                      <td>{{message.author}}</td>
                      <td>{{message.created_on}}</td>
                      {% if message.is_read%}
                      <td>Lu</td>
                      {% else %}
                      <td>Non Lu</td>
                      {% endif %}
                    </tr>
                    {% endfor%}
                  </tbody>
              </table>
                <nav class="pull-right">
                  <ul class="pagination">
                    {% if current_page.has_previous %}
                    <li>
                      <a href="{{current_url}}?page={{current_page.previous_page_number}}{% if sender%}&sender={{sender}}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% endif %}
                    {% for page in paginator.page_range %}
                      {% if page == list_messages.number %}
                        <li class="active">
                      {% else %}
                        <li>
                      {% endif %}
                        <a href="{{current_url}}?page={{page}}{% if sender%}&sender={{sender}}{% endif %}">{{page}}</a></li>
                    {% endfor %}
                    {% if current_page.has_next %}
                      <li>
                        <a href="{{current_url}}?page={{current_page.next_page_number}}{% if sender%}&sender={{sender}}{% endif %}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
    </div>

<div class="modal fade" id="id_add_friend_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ajouter un ami</h4>
      </div>
      <form method='POST' action =".">
      {% csrf_token %}
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="2">Pseudo</th>
            </tr>
          </thead>
          {% for friend in add_friend_form.members.field.choices %}
            <tr>
              <td class="success">{{ friend.1 }}</td>
              <td><input type="checkbox" name="{{ add_friend_form.members.html_name }}" id="id_{{ add_friend_form.members.html_name }}_{{ forloop.counter }}" value="{{ friend.0 }}"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" name="add_friend_request">Envoyer une demande d'ajout</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="id_waiting_friends_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Demandes d'ajout en attente</h4>
            </div>
            <form method='POST' action =".">
            {% csrf_token %}
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">Pseudo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pending_request in pending_request_form.members.field.choices %}
                            <tr>
                                <td class="success">{{ pending_request.1 }}</td>
                                <td><input type="checkbox" name="{{ pending_request_form.members.html_name }}" id="id_{{ pending_request_form.members.html_name }}_{{ forloop.counter }}" value="{{ pending_request.0 }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="refuse_pending_request">Refuser la/les demandes</button>
                    <button type="submit" class="btn btn-success" name="accept_pending_request">Accepter la/les demandes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="id_new_message_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nouveau Message</h4>
            </div>
            <form method='POST' action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in send_message_form %}
                    <div class="row">
                        <label class="col-lg-2">{{ field.label }} </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" name="send_message_request">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade in" id="read_message_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="modal-text"></div>
        <div class="row">
          <div class="col-lg-12">
            <a class="thumbnail">
              <img class="modal-image" sytle="display:inline-block;width:50%"/>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script>
  var read_message_modal = $('#read_message_modal'); 
  function showMessage(id_message)
  {
      var self = $("#message-"+id_message);
      console.log(self)

      $.get('/dashboard/getMessage/' + id_message + '/', function(data)
      {
        var timeout;

        read_message_modal.find('.modal-text').text(data.content);
        read_message_modal.find('.modal-title').text('Message de ' + data.author);
        read_message_modal.find('.modal-image').attr("src",data.picture);
        read_message_modal.modal();
        
        read_message_modal.on('hide.bs.modal', function(e)
        {
          clearTimeout(timeout);
        });

        self.find(':nth-child(3)').text('Lu');
        self.attr('class', 'danger');

        timeout = setTimeout(function()
        {
          read_message_modal.modal('hide');
        }, data.duration * 1000);
      }, 'json');
  }
</script>


{%  endblock dashboard_inner %}
